:root {
  --branding-color: navy;
  --head-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
  --button-color: white;
  --font-color: black;
}
h1 {
  color: var(--font-color);
  font-family: var(--head-font-family);
  font-size: 96px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-family: var(--body-font-family);
  font-weight: 400;
  margin: 0;
}
.greetings {
  font-size: 36px;
  font-family: var(--body-font-family);
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 24px;
  font-family: var(--head-font-family);
  font-weight: 400;
  color: rgba(39, 33, 66, 1);
}
h3 {
  font-size: 60px;
  font-family: var(--head-font-family);
  font-weight: 700;
  color: var(--font-color);
}
.begin {
  display: block;
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-family: var(--body-font-family);
  color: var(--button-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-weight: 500;
}
.btn-branding:hover {
  color: var(--button-color);
  text-decoration: none;
  font-weight: normal;
  opacity: 50%;
}
.btn-branding-portfolio {
  background: var(--branding-color);
  border-radius: 4px;
  font-family: var(--body-font-family);
  color: var(--button-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-weight: 500;
}
.btn-branding-portfolio:hover {
  color: var(--button-color);
  text-decoration: none;
  font-weight: normal;
  opacity: 50%;
}
.btn-branding-outline {
  background: var(--button-color);
  border-radius: 4px;
  font-family: var(--body-font-family);
  color: var(--branding-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-weight: 500;
  border-color: var(--branding-color);
}
.btn-branding-outline:hover {
  color: var(--branding-color);
  text-decoration: none;
}
.project-spacing {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .begin {
    padding: 60px 10px;
  }
  h1 {
    font-size: 18px;
  }
  .greetings {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  .project-spacing {
    padding: 30px;
    text-align: center;
  }
  h3 {
    font-size: 23px;
    padding: none;
    margin: 0;
  }
  .mb-4 {
    font-size: 12px;
  }
  .active {
    font-size: 13px;
  }
  p.hero,
  .miracle {
    font-size: 16px;
  }
  nav.d-flex.justify-content-between {
    font-size: 0.1rem;
  }
}
.about-section h1 {
  font-size: 64px;
  font-weight: 700;
}
.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(39, 33, 66, 1);
}
.about-section p {
  font-size: 16px;
}
.about-section {
  display: block;
  text-align: center;
}
h4 {
  font-size: 48px;
  font-family: var(--head-font-family);
  color: var(--font-color);
  font-weight: 700;
}
h5 {
  font-size: 35px;
  font-family: var(--head-font-family);
  color: var(--font-color);
  font-weight: 700;
}
p.hero {
  font-size: 22px;
  font-family: var(--body-font-family);
}
.miracle {
  display: block;
  text-align: center;
  padding: 60px 10px;
  font-family: var(--body-font-family);
  font-size: 28px;
}
.icon {
  align-items: flex-end;
  display: flex;
  justify-content: space-evenly;
}

.content-container h1 {
  font-size: 64px;
  font-weight: 700;
}
.content-container {
  display: block;
  text-align: center;
  padding: 120px 20px;
}
.work-container {
  display: block;
  text-align: center;
  padding: 120px 20px;
}
.work-container p {
  font-size: 24px;
}
.content-container h3 {
  font-family: var(--body-font-family);
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
}
.content-container p {
  font-size: 14px;
  font-weight: 400;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 60%;
  color: white;
  font-weight: normal;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-github-alt {
  background: purple;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-github-alt:hover {
  opacity: 60%;
  color: white;
  font-weight: normal;
}
.fa-linkedin-in {
  background: #007bb5;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-linkedin-in:hover {
  opacity: 60%;
  color: white;
  font-weight: normal;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  color: var(--branding-color);
  opacity: 50%;
}
.container {
  margin-top: 1rem;
}
.active {
  font-family: var(--body-font-family);
  font-weight: bolder;
  font-size: 16px;
}
.text-muted {
  color: #6c757d;
  text-align: left;
}
