:root {
  --branding-color: #6c63ff;
  --head-font-family: "Playfair Display", serif;
  --body-font-family: "Poppins", sans-serif;
  --button-color: white;
}
h1 {
  color: black;
  font-family: var(--head-font-family);
  font-size: 96px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-family: var(--body-font-family);
  font-weight: 400;
  margin: 0;
}
.greetings {
  font-size: 36px;
  font-family: var(--body-font-family);
  font-weight: 700;
  margin: 0;
}
h2 {
  font-size: 24px;
  font-family: var(--head-font-family);
  font-weight: 400;
  color: rgba(39, 33, 66, 1);
}
h3 {
  font-size: 64px;
  font-family: var(--head-font-family);
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
.begin {
  display: block;
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-family: var(--body-font-family);
  color: var(--button-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-weight: 500;
}
.btn-branding:hover {
  color: var(--button-color);
  text-decoration: none;
}
.penny {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--body-font-family);
  color: rgba(39, 33, 66, 1);
}
.btn-branding-outline {
  background: var(--button-color);
  border-radius: 4px;
  font-family: var(--body-font-family);
  color: var(--branding-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-weight: 500;
  border-color: var(--branding-color);
}
.btn-branding-outline:hover {
  color: var(--branding-color);
  text-decoration: none;
}
.project-spacing {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .project-spacing {
    padding: 30px;
    text-align: center;
  }
}
